<div id="sat-card">
  <div id="sat-div-card-title"><h1 id="sat-card-title">Корзина</h1></div>

{{#if tickets.length}}
  <table>
    <thead>
      <tr align="left">
        <th >Наименование абонемента</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>

      {{#each tickets}}
      <tr height="70px">
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>{{price}}</td>
        <td>
          <button class="card-delete-ticket">Удалить</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p>
    <strong>Цена:</strong>
    <b>
      <span class="finaly-card-price">{{price}}&nbsp; &#8381;</span> 
    </b>
  </p>
</div>
{{else}}
  <p>Корзина пуста</p>
{{/if}}