<h1 class="orders-title">Мои заказы</h1>

{{#if orders.length}}
  <div class="sat-order-container">
    {{#each orders}}
      <div class="order-item">
        <span style="color: #ebb121">
          заказ:
          <small>{{_id}}</small>
        </span>
        <span>Дата: <span class="order-data date">{{date}}</span> </span>
        <span>Имя: <span class="order-data">{{user.userId.name}} ({{user.userId.email}})</span> </span>
        <ol style="padding-left: 22px;">
          {{#each tickets}}
            <li>
              <span class="order-data">{{ticket.title}} (x<strong>{{count}}</strong>)</span>
            </li>
          {{/each}}
        </ol>
        <hr style="margin: 20px 0 15px 0;">
          <div class="order-price">
            <span>Цена:</span>
            <b class="b-price-container"><span class="price">{{price}}</span></b>
            <b class="b-bnt-container"><button type="submit" form="delete-order" class="orders-delete-btn">удалить заказ</button></b>
            <input form="delete-order" type="hidden" name="id" value="{{_id}}">
          </div>
      </div>
    {{/each}}
  </div>

  <form id="delete-order" action="/orders/remove" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{surf}}">
  </form>

{{else}}
  <p style="text-align: center; font-size: 1.4rem;">Заказов пока нет</p>
{{/if}}