<h1 class="orders-title">Мои заказы</h1>

  <form id="order_cancel_form" action="/orders/cancelOrder" method="POST">
    <input type="hidden" name="_csrf" value="{{@root.surf}}">
  </form>

  <form id="order_freeze_form" action="/orders/freezeOrder" method="POST">
    <input type="hidden" name="_csrf" value="{{@root.surf}}">
  </form>

{{#if orders.length}}
  <div class="sat-order-container">
    {{#each orders}}
      {{#if daysBeforeEndFreeze}}
        <span class="orderIsFrozen">
          Заказ заморожен!
          <br>
          <small>Дней до окончания заморозки: <b>{{daysBeforeEndFreeze}}</b> </small>
        </span>
      {{/if}}
      <div class="order-item {{#if daysBeforeEndFreeze}} block-opacity {{/if}}">

        <span style="color: #ebb121">
          заказ:
          <small>{{_id}}</small>
        </span>
        {{#if confirmed}}
          <span>
            Дата завершения всех абонементов в заказе: <b style="color: rgb(11, 177, 66)" class="date">{{expirationDate}}</b>
          </span>
        {{/if}}
        <span>Дата заказа: <span class="order-data date">{{date}}</span> </span>
        <span>Имя: <span class="order-data">{{user.userId.name}} ({{user.userId.email}})</span> </span>
        <ol style="padding-left: 22px;">
          {{#each tickets}}
            <li>
              <span class="order-data">{{ticket.title}} (x<strong>{{count}}</strong>)</span>
            </li>
          {{/each}}
        </ol>
        <hr style="margin: 20px 0 15px 0;">
          <div class="order-price">
            <span>Цена:</span>
            <b class="b-price-container"><span class="price">{{price}}</span></b>
            {{#if confirmed}}
              <b class="b-bnt-container"><button type="submit" class="order-btn order-confirmed">Заказ подтверждён</button></b>
            {{else}}
              <b class="b-bnt-container"><button type="submit" class="order-btn order-unconfirmed">В ожидании подтвеждения</button></b>
            {{/if}}
          </div>

            {{#if confirmed}}
              {{#unless wasFrozen}}
                <button type="submit" class="order-btn-special blue-btn " form="order_freeze_form" name="id" value="{{_id}}">Заморозить заказ</button></b>
              {{/unless}}
            {{else}}
              <button type="submit" class="order-btn-special red-btn " form="order_cancel_form" name="id" value="{{_id}}">Отменить заказ</button>
            {{/if}}

      </div>
    {{/each}}
  </div>

{{else}}
  <p style="text-align: center; font-size: 1.4rem;">Заказов пока нет</p>
{{/if}}