<h1>Абонементы</h1>

  <form id="custom-form-buy-ticket" action="/card/add" method="POST">
    <input type="hidden" name="_csrf" value="{{surf}}">
  </form>

{{#if tickets.length}}

{{#each tickets}}
<div class="ticket-row">
  <div class="ticket">
      <div class="ticket__title">
        {{title}}
      </div>
  
      <div class="ticket__possibilities"> 
        <ul>
          <li>
            {{option1}}
          </li>
          <li>
            {{option2}}
          </li>
          <li>
            {{option3}}
          </li>
        </ul>
      </div>

      <span class="duration">Продолжительность абонемента (в месяцах): <b style="color: #DC9797">{{duration}}</b></span>

      <div class="price">{{price}}</div>
    
      <div class="ticket__actions">

        {{#if @root.isAuth}}
          {{#isEqual @root.userRole 'client'}}
            <button form="custom-form-buy-ticket" type="submit" class="buy" name="id" value="{{_id}}">
            приобрести
            </button>
          {{/isEqual}}

          {{#isEqual @root.userRole 'writer'}}
            <button class="buy">
              приобрести
            </button>
          {{/isEqual}}

          {{#isEqual @root.userRole 'admin'}}
            <button class="buy">
              приобрести
            </button>
          {{/isEqual}}

        {{else}}
          <button type="button" class="buy" name="id" value="{{_id}}">
            <a href="/auth/login#login">приобрести</a>
          </button>
        {{/if}}

        {{#isEqual @root.userRole 'admin'}}
          <div class="edit">
            <a href="/tickets/{{_id}}/edit?allow=true">редактировать</a>
          </div>
        {{/isEqual}}

<!-- 
        <pre>{{userId._id}} &nbsp; {{@root.userId}}</pre>

        {{#isAdminId @root.userId}}
        <p style="font-size: 2.2rem; color: orange; font-weight: 400;">This is working fine!</p>
        {{/isAdminId}}

        {{#if @root.isAuth}}
          <div class="edit">
            <a href="/tickets/{{_id}}/edit?allow=true">редактировать</a>
          </div>
        {{/if}}
-->
      </div>
  </div>
</div>
{{/each}}

{{else}}
<p>Абонементов пока нет</p>
{{/if}}