<h1>Редактировать абонемент {{ticket.title}}</h1>

<form action="/tickets/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required min="5" value="{{ticket.title}}">
    <label for="title">Название абонемента</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="text" step="any" class="price validate" required value="{{ticket.price}}">
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="option1" name="option1" type="text" class="validate" required min="5" value="{{ticket.option1}}">
    <label for="option1">Опция 1</label>
    <span class="helper-text" data-error="Введите опцию 1"></span>
  </div>

  <div class="input-field">
    <input id="option2" name="option2" type="text" class="validate" required min="5" value="{{ticket.option2}}">
    <label for="option2">Опция 2</label>
    <span class="helper-text" data-error="Введите опцию 2"></span>
  </div>

  <div class="input-field">
    <input id="option3" name="option3" type="text" class="validate" required min="5" value="{{ticket.option3}}">
    <label for="option3">Опция 3</label>
    <span class="helper-text" data-error="Введите опцию 3"></span>
  </div>

  <input type="hidden" name="id" value="{{ticket._id}}">
  <button type="submit"class="Edit-btn">Сохранить</button>
</form>

<form action="/tickets/remove" method="POST">
  <input type="hidden" name="id" value="{{ticket._id}}">
  <button type="submit" class="Delete-btn">Удалить абонемент</button>
</form>