<h1>Абонементы</h1>

  <form id="custom-form-buy-ticket" action="/card/add" method="POST">
    <input type="hidden" name="_csrf" value="{{surf}}">
  </form>

{{#if tickets.length}}

{{#each tickets}}
<div class="ticket-row">
  <div class="ticket">
      <div class="ticket__title">
        {{title}}
      </div>
  
      <div class="ticket__possibilities"> 
        <ul>
          <li>
            {{option1}}
          </li>
          <li>
            {{option2}}
          </li>
          <li>
            {{option3}}
          </li>
        </ul>
      </div>

      <div class="price">{{price}}</div>
    
      <div class="ticket__actions">

        {{#if @root.isAuth}}
          <button form="custom-form-buy-ticket" type="submit" class="buy" name="id" value="{{_id}}">
            приобрести
          </button>
        {{else}}
          <button type="button" class="buy" name="id" value="{{_id}}">
            <a href="/auth/login#login">приобрести</a>
          </button>
        {{/if}}

        {{#if @root.isAuth}}
          <div class="edit">
            <a href="/tickets/{{_id}}/edit?allow=true">редактировать</a>
          </div>
        {{/if}}

      </div>
  </div>
</div>
{{/each}}

{{else}}
<p>Абонементов пока нет</p>
{{/if}}