<h1>Абонементы</h1>

  <form id="custom-form-buy-ticket" action="/card/add" method="POST">
    <input type="hidden" name="_csrf" value="{{surf}}">
  </form>

{{#if tickets.length}}

{{#each tickets}}
<div class="ticket-row">
  {{#if ticketIsOver}}
    <span class="ticketsIsOver">Абонементы в данной категории закончились!</span>
  {{/if}}
  
  <div class="ticket {{#if ticketIsOver}} block-opacity {{/if}}">
      <div class="ticket__title">
        {{title}}
      </div>
  
      <div class="ticket__possibilities"> 
        <ul>
          <li>
            {{option1}}
          </li>
          <li>
            {{option2}}
          </li>
          <li>
            {{option3}}
          </li>
        </ul>
      </div>

      <div class="ticket_description">
        <span class="ticket_description__title"><b>Описание абонемента:</b></span>
        <span class="text_description">{{description}}</span>
      </div>

      <span class="duration"><b>Продолжительность абонемента (в месяцах): </b> <b style="color: #DC9797">{{duration}}</b></span>

      <div class="price">{{price}}</div>
    
      <div class="ticket__actions">

        {{#if @root.isAuth}}
          {{#isEqual @root.userRole 'client'}}
            {{#if ticketIsOver}}
              <button class="buy">
                приобрести
              </button>
            {{else}}
              <button form="custom-form-buy-ticket" type="submit" class="buy" name="id" value="{{_id}}">
                приобрести
              </button>
            {{/if}}
          {{/isEqual}}

          {{#isEqual @root.userRole 'writer'}}
            <button class="buy">
              приобрести
            </button>
          {{/isEqual}}

          {{#isEqual @root.userRole 'admin'}}
            <button class="buy">
              приобрести
            </button>
          {{/isEqual}}

        {{else}}
          <button type="button" class="buy" name="id" value="{{_id}}">
            <a href="/auth/login#login">приобрести</a>
          </button>
        {{/if}}

        {{#isEqual @root.userRole 'admin'}}
          <div class="edit">
            <a href="/tickets/{{_id}}/edit?allow=true">редактировать</a>
          </div>
        {{/isEqual}}

      </div>
  </div>
</div>
{{/each}}

{{else}}
<p>Абонементов пока нет</p>
{{/if}}